@model PostCode.Models.Comment

<div class="form-group">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Commented by @Model.User.Email<div class="col-md-push-9 glyphicon glyphicon-pencil"></div></div>
            <div class="panel-body">@Model.Content</div>
        </div>
    </div>
</div>